name: Fetch Film Reviews

on:
  schedule:
    - cron: '0 0 * * *'  # Pokreće se na svaki sat
  workflow_dispatch:  # Ručno pokretanje workflow-a

jobs:
  fetch-reviews:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v3
        with:
          python-version: '3.x'

      - name: Install dependencies
        run: |
          pip install feedparser

      - name: Fetch and generate posts
        run: |
          python scripts/rss_parser.py

      - name: Commit and push changes
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          git config --local user.name "github-actions"
          git config --local user.email "actions@github.com"
          git add _movies/*.md
          git add scripts/seen_reviews.txt
          git commit -m "Add new film review post" || echo "No new posts to add"
          git push https://${{ secrets.GITHUB_TOKEN }}@github.com/jedankomad/jedankomad.github.io.git
